body{
	background:#f5d9df;
    font-family: 'Baloo 2', cursive;

}

#mainNavbar{
	font-size:1.5rem;
	font-weight: 400;
}

#mainNavbar .nav-link{
	color:white;
}

#mainNavbar .nav-link:hover{
	color:#EA1C2C;
}

#mainNavbar .navbar-brand{
	color: #EA1C2C;
	font-size:1.5rem;
	font-weight: 400;
}

#profile{
	text-align:center;
	color:rgb(252, 3, 65);
	font-weight:700;
}

#profile div{
	padding:1.5vh 0px;
}
#profile-pic{
	border: solid white;
	width: 250px;
    height: 250px;
    border-width: 5px 5px;
    border-radius: 125px;
    margin:0px auto;
    background: url("https://media-exp1.licdn.com/dms/image/C4D03AQFykI6RTNLY4Q/profile-displayphoto-shrink_200_200/0?e=1590624000&v=beta&t=1OI8G2R2pXdwEw1QYTjWjgqC3FsKDgnE5oN-iFg8ng4") center center;
    background-size: cover;
}
@media (max-width:800px){
	#profile-pic{
		width:120px;
		height:120px;
	}
}

#name{
	font-size: 24px;
}

#bio{
	font-size:26px;
}

#about span{
	display:block;
	color:rgb(255, 87, 51);
	font-size:18px;
}

a{
	color:rgb(255, 87, 51);
}
i{
	color:rgb(252, 3, 65);
}