body{
	background:#f5d9df;
    font-family: 'Baloo 2', cursive;
    /*background: fixed;*/
/*    background:url("https://i.pinimg.com/236x/e9/80/cf/e980cfe9c003a87b883a1aaa4d0d151c.jpg");
*/
   background: black;

}
.navbar-dark.navbar-toggler{
	color:#EA1C2C;
}
#mainNavbar{
	font-size:1.5rem;
	font-weight: 400;
	display: flex;

}

#mainNavbar .nav-link{
	color:white;
}

#mainNavbar .nav-link:hover{
	color:#EA1C2C;
}

#mainNavbar .navbar-brand{
	color: #EA1C2C;
	font-size:1.5rem;
	font-weight: 400;
}
@media(max-width:1020px){
	#mainNavbar{
		display:none;
	}
}
.navbar.scrolled{
    background: rgb(222,192,222);
    transition:background 200ms;
}
#profile{
	text-align:center;
	color:white;
	font-weight:500;
	display:flex;
	flex-direction:column;
/*	background:url("https://i.pinimg.com/236x/e9/80/cf/e980cfe9c003a87b883a1aaa4d0d151c.jpg");
*//*	background:url("https://source.unsplash.com/iZEG_9jaB40");*/
    /*background-size:cover;*/
    background-size: repeat;
/*    border-bottom: 2px dashed #FF3371;
*/}
/*
@media(max-width:800px){
	#profile{
		width: 90vw;
        /*padding: 4vh 5vw;
        height: 60vh;
        text-align: center;
       position:relative;

	}
}*/
@media(max-width:800px){
/*	#name{
		font-size:1.5rem    !important; 
	}*/
	#bio{
		font-size: 1.20rem     !important;
	}
	#about span{
		line-height: 0px   !important;
	}
}

#profile-pic{
	border: solid white;
	width: 250px;
    height: 250px;
    border-width: 5px 5px;
    border-radius: 125px;
    margin:0px auto;
    background:url("https://media-exp1.licdn.com/dms/image/C4D03AQFykI6RTNLY4Q/profile-displayphoto-shrink_200_200/0?e=1590624000&v=beta&t=1OI8G2R2pXdwEw1QYTjWjgqC3FsKDgnE5oN-iFg8ng4") center center;
    background-size: cover;
    display:flex;
    flex-direction:column;
    margin-top: 50px;
}
@media (max-width:800px){
	#profile-pic{
		width:120px;
		height:120px;
		
	}
}

#name{
	font-size: 2em;
	margin-top:5px;
	margin-bottom:5px;
}

#bio{
	font-size:2em;
}

#about span{
	display:block;
	color:white;
	font-size:1.15em;
	margin-bottom: 3px;
	padding:1.5vh 0px;
	font-weight:500;
}

a{
	color:white;
}
i{
	color:white;
}
#intro{
/*	background: url("https://i.pinimg.com/236x/2e/d5/c9/2ed5c93a4929397f7eb4a39fdc2c8e63--iphone-backgrounds-wallpaper-iphone.jpg");
background-size: repeat;*/
/*background:url("https://i.pinimg.com/236x/bb/8a/a3/bb8aa3e7b196ddcab9b5a7becf3db3d5.jpg");
*/
  background: white;
}
#intro h1{
	text-align:center;
	font-size:3em;
	line-height: 60px;
	padding:3em 4em;
	font-family: 'Comic Neue', cursive;
	text-align:center;
	color:black;
	font-weight:700;
/*	line-height: 50px;
*/}
@media(max-width:1027px){
	#intro h1{
		font-size:1.5em !important;

	}
	br{
		display: none;
	}
}
@media(max-width:800px){
	#intro h1{

	  padding:2em 2em;
	}
}
#projects h1{
	font-size:40px;
	color:white;
}
#projects{
/*	background: url("https://i.pinimg.com/236x/73/55/c3/7355c34e2812ed92e8a70c34439cb0da.jpg");
*/
  background: black;
}
.card{
	background:;
}
.card-title{
	color:black;
	text-transform: uppercase;
	font-size:1.5em;
	text-decoration-line: underline;
	font-size: 500;
}
.card-text{
	font-size:1.5em;
	line-height:50px;

}
/*.btn-group-lg>.btn, .btn-lg{
	margin-right: 100px;
}*/
.btn-danger{
  margin-left: 30px;
}
#certificates{
	background: white;
    margin-top: 30px;
}
#certificates .card-title{
	color:white;
	margin-top: 20px;
}
#certificates .card{
	background: black;
}

@media(max-width:800px){
	.card-text{
		font-size:1.20em  !important;
	}
}
#certificates .card-text{
	color: white;
}