







body{
	background:#f5d9df;
    font-family: 'Baloo 2', cursive;
    /*background: fixed;*/
/*    background:url("https://i.pinimg.com/236x/e9/80/cf/e980cfe9c003a87b883a1aaa4d0d151c.jpg");
*/
   background: black;

}
.navbar-dark.navbar-toggler{
	color:white
}
#mainNavbar{
	font-size:1.5rem;
	font-weight: 400;
	display: flex;

}

#mainNavbar .nav-link{
	color:white;
}

#mainNavbar .nav-link:hover{
	color:#EA1C2C;
}

#mainNavbar .navbar-brand{
	color: white;
	font-size:1.5rem;
	font-weight: 400;
}
/*@media(max-width:1020px){
	#mainNavbar{
		display:none;
	}
}*/
.navbar.scrolled{
    background: rgb(222,192,222);
    transition:background 200ms;
}
#profile{
	text-align:center;
	color:white;
	font-weight:500;
	display:flex;
	flex-direction:column;
	background:url("https://images.squarespace-cdn.com/content/v1/580fbaac440243d8731ffc57/1490112789680-NV4CVNNQPIDPELF2XN27/ke17ZwdGBToddI8pDm48kJ0lej6MlCqKAUx1EqBpSQQUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcsCUlr2_RWyHhBmLwvddopt0kox41Ncyh6WdZCVnnhw9FspE4q2BscMKK5-NBcyqH/6806402045_f692af2b17_o.jpg") center center;
	/*background:url("https://source.unsplash.com/iZEG_9jaB40");*/
    /*background-size:cover;*/
    background-size: cover;
/*   border-bottom: 2px dashed #FF3371;
*//*   margin-bottom: 20px;
*/    
    

    }



@media(max-width:800px){
	#profile{
		width: 100vw;
        padding: 4vh 5vw;
        height: 100vh;
        text-align: center;
       position:relative;

	}
}
@media(max-width:800px){
	#name{
		font-size:1.5rem    !important; 
		/*margin-bottom: 1.5em  !important;*/
	}
	#bio{
		font-size: 1.20rem     !important;
		margin-bottom: 4em;
	}
	#about span{
		line-height: 5px   !important;
	}
}

#profile-pic{
	border: solid white;
	width: 250px;
    height: 250px;
    border-width: 5px 5px;
    border-radius: 125px;
    margin:0px auto;
    background:url("https://media-exp1.licdn.com/dms/image/C4D03AQFykI6RTNLY4Q/profile-displayphoto-shrink_200_200/0?e=1590624000&v=beta&t=1OI8G2R2pXdwEw1QYTjWjgqC3FsKDgnE5oN-iFg8ng4") center center;
    background-size: cover;
    display:flex;
    flex-direction:column;
    margin-top: 50px;
}
@media (max-width:800px){
	#profile-pic{
		width:120px;
		height:120px;
		margin-bottom: 1em;
		
	}
}
#display{
	background: url("https://source.unsplash.com/pd4lo70LdbI");
	background-size: repeat;
}
#name{
	font-size: 2em;
	margin-top:5px;
	margin-bottom:0px;
	font-family: 'Michroma', sans-serif;
}

#bio{
	font-size:2em;
	/*margin-top:5px;*/
}
#about{
	margin-bottom: 100px;
	margin-top: 50px;
}

#about span{
	display:block;
	color:white;
	font-size:1.15em;
	margin-bottom: 3px;
	padding:1.5vh 0px;
	font-weight:500;

}

a{
	color:white;
}
i{
	color:white;
}
#intro{
/*	background: url("https://i.pinimg.com/236x/2e/d5/c9/2ed5c93a4929397f7eb4a39fdc2c8e63--iphone-backgrounds-wallpaper-iphone.jpg");
background-size: repeat;*/
/*background:url(https://image.freepik.com/free-photo/paint-drops-black-background_23-2147798308.jpg);
*/
/*  background: white;
*/}
#intro h1{
	text-align:center;
	font-size:3em;
	line-height: 60px;
	padding:3em 4em;
	font-family: 'Comic Neue', cursive;
	text-align:center;
	color:white;
	font-weight:700;
/*	line-height: 50px;
*/}
@media(max-width:1027px){
	#intro h1{
		font-size:1.5em !important;

	}
	br{
		display: none;
	}
}
@media(max-width:800px){
	#intro h1{

	  padding:2em 2em;
	}
}
@media(max-width:800px){
	#display{
		padding:4vh 5vw;

	}
}
#projects h1{
	font-size:40px;
	color:white;
	margin:30px 0px;
}
#projects{
/*	background: url("https://i.pinimg.com/236x/73/55/c3/7355c34e2812ed92e8a70c34439cb0da.jpg");
*/
  
}
.card{
	background:;
}
.card-title{
	color:black;
	text-transform: uppercase;
	font-size:1.5em;
	text-decoration-line: underline;
	font-size: 500;
}
.card-text{
	font-size:1.5em;
	line-height:50px;
	color:black;
}
/*.btn-group-lg>.btn, .btn-lg{
	margin-right: 100px;
}*/
.btn-danger{
  margin-left: 30px;
}
#certificates{
    
}
#certificates h1{
	margin:30px 0px;
	font-size:40px;
	color:white;
}
#certificates .card-title{
	color:black;
	margin-top: 20px;
}
#certificates .card{
	background: white;
}

@media(max-width:800px){
	.card-text{
		font-size:1.20em  !important;
	}
}
#certificates .card-text{
	color: black;
}
hr{
	color:white;
	border:2px solid white;
}
@media(min-width: 1000px){
	hr{
		display:none;
	}
}

#stack i{
	
	padding:10px 10px;
}
#stack.card-body{
	padding:1.5em 10px;
}
#stack.card-text{
	text-align: center;

}
@media(max-width:800px){
	#stack.card-body{
		text-align:center;
	}
}
#end{
	text-align: center;
	color:white;
}


